@font-face {
    font-family: Geometria;
    src: url(../Fonts/Geometria/Geometria.ttf);
    font-weight: normal;
  }
  
   @font-face {
    font-family: Geometria;
    src: url(../Fonts/Geometria/Geometria-Bold.ttf);
    font-weight: bold;
  }
  
  @font-face {
    font-family: Geometria;
    src: url(../Fonts/Geometria/Geometria-ExtraBold.ttf);
    font-weight: 500;
  }

  @font-face {
    font-family: Gilroy;
    src: url(../Fonts/Gilroy-FREE/Gilroy-Light.otf);
  }

  @font-face {
    font-family: Gilroy;
    src: url(../Fonts/Gilroy-FREE/Gilroy-ExtraBold.otf);
    font-weight: bold;
  }