$textColor: #363b5d;
// $textColor: #363b5d;
$linkColor: #d0deec;
$formFieldColor: #eff4f8;
$lableColor:#9e9a9a;
$linkOnFocus: #9c5d9a;

$inputShadow: 4px 6px 18px -4px rgba(0,0,0,0.49); 
$boxShadow: 4px 6px 18px -4px rgba(0,0,0,0.49);

$inputShadowForm: 0px 0px 16px -3px rgba(0,0,0,0.24); 
$boxShadowForm: 0px 0px 16px -3px rgba(0,0,0,0.24);

